body.bg-login {
    background: linear-gradient(rgba(0, 123, 255, 0.6), rgba(0, 123, 255, 0.6)), url('assets/hospital-bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

body.bg-triage, body.bg-result {
    background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url('assets/clinic-bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.card {
    border-radius: 15px;
}
